@*@using entitie ASP_с_бд.Entities.TelephoneDescription*@
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Get Data</title>
    <style type="text/css">
        .brd {
            border: 4px double black;
            background: #e9e5e5;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="brd">
        <h2>Редактирование записи</h2>
        
        <form action="~/TelephoneDescription/Edit" method="post">

            <label>Фамилия</label><br />
            <input type="text" name="lastName"  /><br />
            <label>Имя</label><br />
            <input type="text" name="name"  /><br />
            <label>Отчество</label><br />
            <input type="text" name="middleName"  /><br />
            <label>Номер телефона</label><br />
            <input type="text" name="numberTelephone" /><br />
            <label>Адрес</label><br />
            <input type="text" name="adress"  /><br />
            <label>Примечание</label><br />
            <input type="text" name="description" /><br />
            <p><input type="submit" value="Сохранить" /></p>
        </form>
    </div>
    <hr />
</body>
</html>
